<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Application Form</title>

  <style>

  table td {
    width: 375px;
    font-size: 12px;
  }

  table td h5{
    color: #377ead;
  }


  .data-box{
    width: 375px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .data-box span{
    background: red;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .boxes{
    position: relative;
    background-color: #deeff3;
    width: 200px;
    float: right;
    padding: 10px 20px;
  }


    .title{
      width: 730px;
      height: 40px;
      background-color: #377ead;
      padding-left: 20px;
      color:#fff;
    }
    .footer{
      position: absolute;
      bottom: 5px;
      width: 730px;
      height: 40px;
      background-color: #5cab5d;
      padding-left: 20px;
      color:#fff;
    }
    .top-header{
      width: 750px;
      height: 40px;
      background-color: #5cab5d;
      box-sizing: border-box;
    }

    .terms{
      color: #000;
      max-height: 350px;

    }
    .terms p{
      color: #000;

    }
  </style>

</head>

<body>
  <div class="top-header">
  </div>
  <div class="title">
    <h4>Registration Form</h4>
  </div>
  <table>
    <tr>
      <td>
        <h5>Attendees Information</h5>

          <div class="data-box">
          <span>Name </span>
            <div class="boxes" >
              James Kabochi
            </div>
          </div>

          <div class="data-box">
          <span>Name 2</span>
            <div class="boxes" >
              James Kabochi
            </div>
          </div>

          <div class="data-box">
          <span>Name 3</span>
            <div class="boxes" >
              James Kabochi
            </div>
          </div>

          <div class="data-box">
          <span>Name 4</span>
            <div class="boxes" >
              James Kabochi
            </div>
          </div>

          <div class="data-box">
          <span>Company </span>
            <div class="boxes" >
              Bochie Ltd
            </div>
          </div>

          <div class="data-box">
          <span>Address </span>
            <div class="boxes" >
              51360-00200
            </div>
          </div>

      </td>
      <td>
        <h5>Attendees Form</h5>
        <form>
            <div style="padding:10px; ">
              <span>Name </span>
              <input type="text" value="Name " />
            </div>
            <div style="padding:10px; ">
                <span>Name 1</span>
                <input type="text" value="Name 1" />
            </div>
            <div style="padding:10px; ">
                <span>Name 2</span>
                <input type="text" value="Name 2" />
            </div>
            <div style="padding:10px; ">
                <span>Name 3</span>
                <input type="text" value="Name 3" />
            </div>
            <div style="padding:10px; ">
                <span>Name 4</span>
                <input type="text" value="Name 4" />
            </div>
            <div style="padding:10px; ">
                <span>Designation </span>
                <input type="text" value="authorised" />
            </div>
            <div style="padding:10px; ">
                <span>Signature   </span>
                <input type="text" value="Signature" />
            </div>

        </form>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Authorization</h5>

          <div class="data-box">
          <span>Name </span>
            <div class="boxes" >
              James Kabochi
            </div>
          </div>

          <div class="data-box">
          <span>Designation</span>
            <div class="boxes" >
              Manager
            </div>
          </div>

          <div class="data-box">
          <span>Email</span>
            <div class="boxes" >
              email@iqbusiness.com
            </div>
          </div>

          <div class="data-box">
          <span>Signature</span>
            <div class="boxes" >
              James Kabochi
            </div>
          </div>


      </td>
      <td>
        <h5>Payment</h5>

        <div class="data-box">
        <span>M-Pesa</span>
        <span>Cheque</span>
        </div>
        <div class="data-box">
        <span>Bank Name</span>
          <div class="boxes" >
            STANBIC BANK KENYA|WESTGATE BRANCH
          </div>
        </div>
        <div class="data-box">
        <span>Account Name</span>
          <div class="boxes" >
            IQ Business Consulting Ltd
          </div>
        </div>
        <div class="data-box">
        <span>Account Number</span>
          <div class="boxes" >
              KES 0100004443308
              USD 0100004443319
          </div>
        </div>

      </td>
    </tr>
    <tr>
      <td>
        <h5>Terms & Conditions</h5>

          <div class="data-box terms">
            <p>
            1.Payment Terms - Payment is due upon signing of the booking authorization form however purchase order is accepted
            payable within 15 days of course execution.
            </p>
            <p>
            2.Warranty of Authority – The signatory warrants that he/she has the authority to sign this Application and agrees to be
            personally liable to Sentinel Africa for payment. This booking is invalid without a signature.
            </p>
            <p>
            3.Cancellation - Any cancellation should be done in writing 10 days before the training dates there after 100% course
            fee will be charged, however a substitute will be accepted. This contract booking is final; there will be no refunds for any
            cancellations, partial or in full, made to the client after 10 days. No show is considered a cancellation and no refund will be
            made.
            </p>
            <p>
            4.Modification - Sentinel Africa reserves the right to modify the content, timing, speakers or venue of the conference
            should circumstances dictate.
          </p>
            <p>
            5.Dispute resolution - The parties agree that should a dispute arise with respect to this Agreement, they shall both make
            good faith efforts to resolve the dispute. This Agreement shall be governed by and construed and interpreted in
             accordance with the laws of Kenya
            </p>

          </div>



      </td>
      <td>


      </td>
    </tr>
  </table>
  <div class="footer">
    <p>www.iqbusiness.events</p>
  </div>
</body>

</html>
