<page backtop="40px" backimg="../../img/banner/1.jpg" backimgy="top" >

    <page_header>

    <div class="top-header">
    </div>

    </page_header>
    <page_footer>

      <div class="logo">
        <img src="../../img/logo.png"/>
      </div>

       <div class="footer">
         <p>www.iqbusiness.events</p>
       </div>
    </page_footer>

      <style>

      table td {
        width: 700px;
      }


      table td h5, table td h4{
        color: #377ead;
      }


      .data-box{
        width: 100%;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align:right;
      }


      .footer{
        height: 40px;
        background-color: #5cab5d;
        padding-left: 20px;
        color:#fff;
      }
      .top-header{
        height: 40px;
        background-color: #5cab5d;
      }


      .logo{
        padding: 20px;
      }


    </style>


      <table>
        <tr>
          <td>

            <div class="data-box">
              <h1>CERTIFIED DATA PROTECTION OFFICER <br>(GDPR)</h1>

            </div>


          </td>

        </tr>

      </table>


</page>
