<!-- Footer Top Section Start -->
<div class="footer-top footer-top-full-width section bg-dark pt-120 pb-80">
    <div class="container-fluid">
        <div class="row">

            <!-- Footer Widget One -->
            <div class="footer-widget col-xl-8 col-md-8 col-12 mb-40">

                <img src="{{MEDIA_URL}}img/logo.png" alt="logo">

                <p>
                  We are an International affiliated business intelligence company that provides you with
                  business solutions facing your organisation both regionally and internationally,
                  by meeting your day to day needs to stay a head of your competition..</p>

                <div class="footer-contact-info">
                    <span><span>Phone:</span>+254 722 225 796</span>
                    <span><span>E-mail:</span>info@iqbusiness.events</span>
                    <span><span>Address:</span>Nairobi, Kenya</span>
                </div>

            </div>

            <!-- Footer Widget One -->
            <div class="footer-widget col-xl-4 col-md-4 col-12 mb-40">

                <h3 class="widget-title">Related Links</h3>

                <ul>
                    <li><a href="index.php">Home</a></li>
                    <li><a href="about.php">About Us</a></li>
                    <li><a href="event-schedule.php">Buy Event Ticket</a></li>
                    <li><a href="contact.php">Contact Us</a></li>
                </ul>

            </div>


        </div>
    </div>
</div>
<!-- Footer Top Section End -->

<!-- Footer Bottom Section Start -->
<div class="footer-bottom section bg-black">
    <div class="container">
        <div class="row">

            <!-- Copyright Text -->
            <div class="copyright text-center col-12">

                <p>Copyright &copy;  <?php echo date("Y"); ?> - <a href="#">IQ Business Training & Consulting Limited - </a> All right reserved</p>
                <p>Designed by <a href="#">Bochie Ltd</a></p>

            </div>

        </div>
    </div>
</div>
<!-- Footer Bottom Section End -->
