<!-- Footer Top Section Start -->
<div class="footer-top footer-top-full-width section bg-dark pt-120 pb-80">
    <div class="container-fluid">
        <div class="row">

            <!-- Footer Widget One -->
            <div class="footer-widget col-xl-8 col-md-8 col-12 mb-40">

                <img src="{{MEDIA_URL}}img/logo.png" alt="logo">

                <p>
                  We at <b>IQ Business Training & Consulting </b> are a family whose only purpose is to be your trusted
                  go to for all matters capacity building and corporate training.
                  Based in Nairobi, Kenya we've enjoyed a regional presence initially as a consulting partner
                  later diversifying our expertise into the vast world of corporate development.
                </p>

                <div class="footer-contact-info">
                    <span><span>Phone:</span>+254 713 050 279</span>
                    <span><span>E-mail:</span>info@iqbusiness.events</span>
                    <span><span>Address:</span>Nairobi, Kenya</span>
                </div>

            </div>

            <!-- Footer Widget One -->
            <div class="footer-widget col-xl-4 col-md-4 col-12 mb-40">

                <h3 class="widget-title">Related Links</h3>

                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'events:event_list' %}">Book Event Ticket</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>

            </div>


        </div>
    </div>
</div>
<!-- Footer Top Section End -->

<!-- Footer Bottom Section Start -->
<div class="footer-bottom section bg-black">
    <div class="container">
        <div class="row">

            <!-- Copyright Text -->
            <div class="copyright text-center col-12">

                <p>Copyright &copy;  {% now "Y" %} - <a href="#">IQ Business Training & Consulting  - </a> All right reserved</p>
                <p>Designed by <a href="www.bochie.co.ke">Bochie Ltd</a></p>

            </div>

        </div>
</div>
<!-- Footer Bottom Section End -->
