<style type="text/css">


body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.main{
  display:flex;
}



.data-box{
  display:flex;
  width: 375px;
  padding-bottom: 5px;
  padding-top: 5px;
  float:right;
}


.boxes{
  position: relative;
  background-color: #deeff3;
  width: 200px;
  float: right;
  padding: 10px 20px;
  border-radius: 15px;
}

.footer{
  height: 40px;
  background-color: #5cab5d;
  padding-left: 20px;
  color:#fff;
}
.top-header{
  height: 40px;
  background-color: #5cab5d;
}

.logo{
  padding: 20px;
}


</style>


<page backtop="40px" >

    <page_header>

    <div class="top-header">
    </div>

    </page_header>
    <page_footer>

      <div class="logo">
        <img src="../../img/logo.png"/>
      </div>



       <div class="footer">
         <p>www.iqbusiness.events</p>
       </div>
    </page_footer>


    <div class="title">
      <h4>Registration Form</h4>
    </div>

        <div class="main">
          <div>
            <h5>Attendees Information</h5>

            <div class="data-box">
              <div class="data-box-title">Name </div>
              <div class="boxes" >
                James Kabochi
              </div>
            </div>

            <div class="data-box">
              <div class="data-box-title">Name 2</div>
              <div class="boxes" >
                James Kabochi
              </div>
            </div>


          </div>
          <div>
            <h5>Attendees Form</h5>

            <div class="data-box">
              <div class="data-box-title">Course Fee </div>
              <div class="boxes" >
                5,000
              </div>
            </div>

            <div class="data-box">
              <div class="data-box-title">No. of Attendees</div>
              <div class="boxes" >
                5
              </div>
            </div>


          </div>
        </div>



</page>
