{% extends 'base.html' %}
{% block content %}
{% load humanize %}


    <!-- Page Banner Section Start -->
    <div class="page-banner-section section overlay-gradient overlay-opacity-90" style="background-image: url(img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">

                <!-- Page Banner Content Start -->
                <div class="page-banner-content col">
                    <h1>about</h1>
                    <p></p>

                    <!-- Breadcrumb -->
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li><a href="#">about</a></li>
                    </ul>

                </div><!-- Page Banner Content End -->

            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- About Section Start -->
    <div class="about-section section bg-light-gray pt-120 pb-90">
        <div class="container">
            <div class="row">

                <!-- About Image -->
                <div class="about-image-four col-lg-6 col-12 mb-30">
                    <img src="{{MEDIA_URL}}img/about/about-2.jpg" alt="about">
                </div>

                <!-- About Content -->
                <div class="about-content-four align-self-center col-lg-6 col-12 mb-30">

                    <h2> Core Values </h2>
                    <p>

                      <ul>
                        <li><b>•Professionalism</b> – We deliver our services with expertise, timeliness & confidentiality.</li>
                        <li><b>•Integrity</b> – Knowing and doing the right things & adhering to the highest ethical standards.</li>
                        <li><b>•Innovation</b> – We operate on a mode of continuous improvement of our process, products and services.</li>
                        <li><b>•Customer Centric</b> – Our clients are at the core of our operations.</li>
                        <li><b>• Teamwork</b> – The best solutions come from working together with both colleagues & clients.</li>


                      </ul>

                    </p>
                    <h2> What we do </h2>
                    <p>
                      Our services cut across industries, and enable our clients to stay ahead of the competition through our;

                      Trainings – We offer knowledge based intensive professional training solutions focused on specific industry topics including but not limited to Finance, Human Resources, Oil & Gas, I.T., Health and Safety amongst others.

                      Certification Courses – As we experience disruption across industries, we have the tools to give professionals a competitive edge.

                      Conferences – Our B2B events offer industry professionals opportunities to connect and network.

                      In-House training – Training is tailored to suit specific needs of your organization.

                    </p>
                </div>

            </div>
        </div>
    </div><!-- About Section End -->


{% endblock %}
