{% extends 'base.html' %}
{% block content %}
{% load humanize %}


    <!-- Page Banner Section Start -->
    <div class="page-banner-section section overlay-gradient overlay-opacity-90" style="background-image: url(img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">

                <!-- Page Banner Content Start -->
                <div class="page-banner-content col">
                    <h1>about</h1>
                    <p>Event for Business Improvement, For you Privet Ltd Business.</p>

                    <!-- Breadcrumb -->
                    <ul class="breadcrumb">
                        <li><a href="index.php">home</a></li>
                        <li><a href="#">about</a></li>
                    </ul>

                </div><!-- Page Banner Content End -->

            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- About Section Start -->
    <div class="about-section section bg-light-gray pt-120 pb-90">
        <div class="container">
            <div class="row">

                <!-- About Image -->
                <div class="about-image-four col-lg-6 col-12 mb-30">
                    <img src="img/about/about-4.jpg" alt="about">
                </div>

                <!-- About Content -->
                <div class="about-content-four align-self-center col-lg-6 col-12 mb-30">

                    <h2>A meet up increase your friends & Connections. </h2>
                    <p>  We are an International affiliated business intelligence company that provides
                      you with business solutions facing your organisation both regionally and internationally,
                      by meeting your day to day needs to stay a head of your competition..</p>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> -->

                </div>

            </div>
        </div>
    </div><!-- About Section End -->


{% endblock %}
