{% extends 'base.html' %}
{% block content %}
{% load humanize %}


    <!-- Page Banner Section Start -->
    <div class="page-banner-section section overlay-gradient overlay-opacity-90" style="background-image: url(img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">

                <!-- Page Banner Content Start -->
                <div class="page-banner-content col">
                    <h1>Contact us</h1>
                    <p></p>

                    <!-- Breadcrumb -->
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}">home</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>

                </div><!-- Page Banner Content End -->

            </div>
        </div>
    </div><!-- Page Banner Section End -->



    <!-- Contact Info & Form Section Start -->
    <div class="contact-info-form-section section bg-light-gray fix">
        <div class="container">
            <div class="row">

                <!-- Contact Info -->
                <div class="contact-info col-lg-6 col-12">
                    <div class="contact-info-wrapper fix">

                        <!-- Title -->
                        <div class="contact-title">
                            <h2>Contact Information</h2>
                        </div>

                        <!-- Info -->
                        <div class="info">
                            <p><strong>Address:</strong> <span>Nairobi Kenya.</span></p>
                            <p><strong>Phone:</strong> <span>+254 713 050 279
                            </span></p>
                            <p><strong>E-mail:</strong> <span>info@iqbusiness.events
                            </span></p>
                        </div>

                        <!-- Social -->
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>

                    </div>
                </div>

                <!-- Contact Form -->
                <div class="contact-form col-lg-6 col-12">
                    <div class="contact-form-wrapper">

                      {% include 'includes/message.html'%}
                        <!-- Title -->
                        <div class="contact-title">
                            <h2>Contact Form</h2>
                        </div>

                        <form id="contact_form" action="" method="post" enctype="multipart/form-data" >
                          {% csrf_token %}

                                {% include 'includes/contact_form.html' with field=form.full_name %}
                                {% include 'includes/contact_form.html' with field=form.email %}
                                {% include 'includes/contact_form.html' with field=form.subject %}
                                {% include 'includes/contact_form.html' with field=form.message %}

                                <input type="submit" value="Submit" name="submit">
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- Contact Info & Form Section End -->




{% endblock %}
