{% extends 'base.html' %}
{% block content %}
{% load humanize %}

    <!-- Hero Section Start -->
    <div class="hero-section section" >

        <!-- Hero Slider One -->
        <div class="hero-slider hero-slider-one">

            <!-- Hero Slide Item -->


            {% for event in events %}

            <div class="item overlay-blue overlay-opacity-80" style="background-image: url({{MEDIA_URL}}{{ event.image }})">
                <div class="container">
                    <div class="row">

                        <!-- Hero One Content Start -->
                        <div class="hero-one-content text-center col-12">

                            <h2>{{ event.category.name }}</h2>
                            <h1>{{ event.name }}</h1>
                            <h3>{{ event.d_from }} to {{ event.d_to }}</h3>
                            <a href="{% url 'events:event_form' event.slug %}" class="btn btn-light-outline btn-hover-red-outline">Book Ticket</a>

                        </div><!-- Hero One Content End -->

                    </div>
                </div>
            </div>
          {% endfor %}


        </div>

    </div>
    <!-- Hero Section End -->

    <!-- About Section Start -->
    <div id="about-section" class="about-section section pt-120">
        <div class="container">
            <div class="row">

                <!-- About Image -->
                <div class="about-image-four col-lg-6 col-12 mb-30">
                    <img src="{{MEDIA_URL}}img/about/about-4.jpg" alt="about">
                </div>

                <!-- About Content -->
                <div class="about-content-one col-lg-6 col-12">

                    <h1>Welcome!</h1>
                    <h4>To <span> IQ Business Training & Consulting</span></h4>
                    <h4 class="strong"></h4>
                    <h5 class="strong">We Are.</h5>
                    <p>

                    We at <b>IQ Business Training & Consulting</b> are a family whose only purpose is to be your trusted go to for all matters capacity building and corporate training.
                    Based in Nairobi, Kenya we've enjoyed a regional presence initially as a consulting partner later diversifying our expertise into the vast world of corporate development.
                    </p>
                    <p>
                    <b>Our vision</b> is borne by the continued and rapid growth of the African workspace and the development
                     of international best practices towards workplace wellness.
                     </p>
                     <p>

                      With the diverse nature of our clients and partners industrial scope, our portfolio touches on; Health and Safety, Oil, Gas and Renewable Energy, Leadership and Organizational Development, Business operations, Strategic Human Resource, Logistics and Supply Chain Management, Healthcare, Banking, Finance and Information Technology.
                    </p>

                     <p>
                       <b>IQ Business Training & Consulting</b> places skills improvement and career advancement training at the heart of its cradle, we’re endeared with the crucial mission of putting the client first as they achieve excellence, quality & innovation.
                     </p>


                </div>

            </div>
        </div>
    </div>
    <!-- About Section End -->


    <!-- Partners Section Start -->
    <div class="partners-section section bg-light-gray pt-120 pb-90">
        <div class="container">

            <!-- Section Title Style One -->
            <div class="row">
                <div class="section-title-one text-center col pb-70">
                    <h1>IQ Business Training & Consulting Partners</h1>
                </div>
            </div>

            <div class="row">


                <!-- Partner Tab Content Start -->
                <div class="partner-tab-content tab-content col-12">

                    <!-- Partner Tab Pane Start -->
                    <div class="partner-tab-pane text-center tab-pane fade show active" id="glod-sponsor">
                        <div class="row">

                            <div class="single-partner mb-30"><img src="{{MEDIA_URL}}img/partners/iil.png" alt="partners"></div>
                            <div class="single-partner mb-30"><img src="{{MEDIA_URL}}img/partners/richemele.png" alt="partners"></div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <!-- Partners Section End -->







    <!-- Gallery Section Start -->
    <div class="gallery-section section pt-120 pb-90">
        <div class="container">

            <!-- Section Title Style One -->
            <div class="row">
                <div class="section-title-one text-center col pb-70">
                    <h1>Our Previous Events</h1>
                </div>
            </div>

            <!-- Gallery Wrapper -->
            <div class="gallery-wrapper row">

                <!-- Single Gallery -->
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <a href="{{MEDIA_URL}}img/gallery/1.jpg" class="single-gallery image-popup"><img src="{{MEDIA_URL}}img/gallery/1.jpg" alt="gallery"> <div class="hover"></div></a>
                </div>

                <!-- Single Gallery -->
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <a href="{{MEDIA_URL}}img/gallery/2.jpg" class="single-gallery image-popup"><img src="{{MEDIA_URL}}img/gallery/2.jpg" alt="gallery"> <div class="hover"></div></a>
                </div>

                <!-- Single Gallery -->
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <a href="{{MEDIA_URL}}img/gallery/3.jpg" class="single-gallery image-popup"><img src="{{MEDIA_URL}}img/gallery/3.jpg" alt="gallery"> <div class="hover"></div></a>
                </div>

                <!-- Single Gallery -->
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <a href="{{MEDIA_URL}}img/gallery/4.jpg" class="single-gallery image-popup"><img src="{{MEDIA_URL}}img/gallery/4.jpg" alt="gallery"> <div class="hover"></div></a>
                </div>

                <!-- Single Gallery -->
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <a href="{{MEDIA_URL}}img/gallery/5.jpg" class="single-gallery image-popup"><img src="{{MEDIA_URL}}img/gallery/5.jpg" alt="gallery"> <div class="hover"></div></a>
                </div>

                <!-- Single Gallery -->
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <a href="{{MEDIA_URL}}img/gallery/6.jpg" class="single-gallery image-popup"><img src="{{MEDIA_URL}}img/gallery/6.jpg" alt="gallery"> <div class="hover"></div></a>
                </div>


            </div>

        </div>
    </div>
    <!-- Gallery Section End -->


    <!-- Partners Section Start -->
    <div class="partners-section section bg-light-gray pt-120 pb-90">
        <div class="container">

            <!-- Section Title Style One -->
            <div class="row">
                <div class="section-title-one text-center col pb-70">
                    <h1>Accreditation</h1>
                    <p>
                      IQ Business Training & Consulting IS
                      NOW ACCREDITED BY THE NATIONAL INDUSTRIAL TRAINING AUTHORITY

                    </p>
                </div>
            </div>

          
        </div>
    </div>
    <!-- Partners Section End -->



      <!--  CTA Section Start -->
    <div class="cta-section section overlay-blue overlay-opacity-70 pt-100 pb-110" style="background-image: url({{MEDIA_URL}}img/bg/cta.jpg)">
        <div class="container">
            <div class="row">

                <div class="cta-content white text-center col-12">
                    <h1 style="margin-top:-40px">Testimonials</h1>
                    <div class="gallery-wrapper row" style="padding:40px 0">
                        <div class="col-lg-4 col-md-6 col-12 mb-30">
                            <blockquote class="blockquote">
                                <p class="mb-0">Quite educative and interesting.</p>
                                <footer class="blockquote-footer text-yellow">–OzorChinendu,  <cite title="Source Title">Head Corporate Services Delloitte Nigeria </cite></footer>
                            </blockquote>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-30">
                            <blockquote class="blockquote">
                                <p class="mb-0">Acquired good deal of Best Practices.</p>
                                <footer class="blockquote-footer text-yellow">GeteyeMekuria,  <cite title="Source Title">Head of Asset and Risk, Wegen Commercial Bank Ethiopia </cite></footer>
                            </blockquote>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-30">
                            <blockquote class="blockquote">
                                <p class="mb-0">The trainer demonstrated high level of understanding and practical Experience.</p>
                                <footer class="blockquote-footer text-yellow"> B. Nkhoma, <cite title="Source Title">Head of Risk NBS Bank Malawi </cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- CTA Section End -->
{% endblock %}
