{% extends 'base.html' %}
{% block content %}
{% load humanize %}


    <!-- Page Banner Section Start -->
    <div class="page-banner-section section overlay-gradient overlay-opacity-90" style="background-image: url(img/bg/page-banner.jpg)">
        <div class="container">
            <div class="row">

                <!-- Page Banner Content Start -->
                <div class="page-banner-content col">
                    <h1>event schedule</h1>
                    <p>Event for Business Improvement, For you Privet Ltd Business.</p>

                    <!-- Breadcrumb -->
                    <ul class="breadcrumb">
                        <li><a href="index.php">home</a></li>
                        <li><a href="#">event schedule</a></li>
                    </ul>

                </div><!-- Page Banner Content End -->

            </div>
        </div>
    </div><!-- Page Banner Section End -->

    <!-- Event Schedule Section Start -->
    <div class="event-schedule-section-one section pt-120 pb-120">
        <div class="container">

            <!-- Section Title Style One -->
            <div class="row">
                <div class="section-title-one text-center col pb-50">
                    <h1>Events</h1>
                </div>
            </div>

            <div class="row">




                <!-- Event One Tab Content Start -->
                <div class="event-one-schedule-tab-content tab-content col-12">

                  {% for event in event_list %}



                                      <!-- Event One Tab Pane Start -->
                                      <div class="event-one-schedule-tab-pane tab-pane fade show active mb-50" >

                                          <!-- Event One List Start-->
                                          <ul class="event-one-schedule-list">

                                            <div class="image">
                                                <div class="image-slider">
                                                    <img src="{{MEDIA_URL}}{{event.image}}" alt="Event Detail">
                                                </div>
                                            </div>

                                              <!-- Event One Single Event Start-->
                                              <li class="event-one-single-schedule">

                                                  <!-- Day & Time -->
                                                  <div class="day-time float-left">
                                                      <h5>{{ event.d_from }} to {{ event.d_to }}</h5>
                                                      <h4>{{ event.venue }}</h4>
                                                  </div>




                                                  <!-- Category & Title -->
                                                  <div class="category-title float-left">
                                                      <h5><a href="#">{{ event.category.name }}</a></h5>
                                                      <h4><a href="#">{{ event.name }}</a></h4>
                                                  </div>


                                                  <!-- Buy Button -->
                                                  <div class="buy-button float-left">
                                                      <a href="{% url 'events:event_form' event.slug %}" class="btn btn-light-blue-outline btn-hover-red-outline">View Details</a>
                                                  </div>

                                              </li><!-- Event One Single Event End-->


                                          </ul><!-- Event One List End-->

                                      </div><!-- Event One Tab Pane End -->
                    {% endfor %}

            </div>

            <div class="col-12 justify-content-center">

            {% include 'includes/pagination.html' %}
          </div>



        </div>
    </div><!-- Event Schedule Section End -->


  </div>

{% endblock %}
